@keyframes gradientBattery {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes pulseBattery {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeBattery {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fillBattery {
    0% {
        height: 20px;
    }
    50% {
        height: 100%;
        border-top-left-radius: 17px;
        border-top-right-radius: 17px;
    }
    100% {
        height: 20px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.battery {
    width: 85px;
    height: 160px;
    border: 5px solid #283341;
    border-radius: 20px;
    margin: 0 auto 0 auto;
    position: relative;
    padding: 4px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.battery:before {
    content: "";
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width: 35px;
    height: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    background-color: #283341;
}

.battery__content {
    width: 100%;
    height: 100%;
    border-radius: 17px; 
    position: relative;
}

.battery__image {
    width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%) translateY(-50%);
}

/* анимация для градиента */
.battery_animation_gradient {
    background-image: linear-gradient(90deg, #ff0080, #0196f0, #00ffff, #0080ff, #8000ff, #ff0080);
    background-size: 1000% 1000%;
    animation: gradientBattery 13s linear infinite;
}

/* анимация для пульсации */
.battery:has(> .battery_animation_pulse){
    animation: pulseBattery 3s infinite;
}

/* анимация для заполнения батарейки */
.battery_animation_fill {
    background-color: #2bf82b;
    height: 20px;
    border-radius: 0;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 17px;
    animation: fillBattery 7s linear infinite;
}

.battery:has(> .battery_animation_fill){
    align-items: end;
}
/* анимация для затухания батарейки */

.battery_animation_fade {
    background-image: linear-gradient(to top, rgb(248, 27, 27) 25%, transparent 20%);
}

.battery:has(> .battery_animation_fade){
    animation: fadeBattery 3s infinite;
}