@keyframes fadeInPopup {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, .5);
    align-items: center;
    justify-content: center;
    display: none;
}

.popup_opened {
    display: flex;
    animation: fadeInPopup 0.2s ease-in;
    overflow-y: auto; 
}


.popup__container {
    width: 750px;
    min-height: 450px;
    border: 1px solid #1d2733;
    background-color: #1d2733;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 10px 10px 20px rgba(82, 82, 82, 0.1);
    position: relative;
    color: #ffffff;
    padding: 0 30px;
}

.popup__button {
    padding: 0;
    margin: 0;
    color: #0196f0;
}

.popup__button_close {
    width: 20px;
    height: 20px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 8px;
    color: #89939f;
}

.popup__title {
    font-size: 30px;
    font-weight: 700;
    margin: 20px 0 15px 0;
    width: max-content;
}

.popup__line {
    border-radius: 2px;;
    border: 1px solid;
    margin-bottom: 30px 
}

.popup__description-container {
    width: 80%;
    margin-bottom: 20px;
}

.popup__paragraph {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
}

.popup__battery-container {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
}

@media screen and (min-width: 320px) and (max-width: 1023px) {
    .popup__battery-container {
        position: static;
        transform: translateY(0);
        margin-bottom: 20px;
    }

    .popup__description-container {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .popup__container {
        width: 550px;
    }
 
    .popup__title {
        max-width: 400px;
        font-size: 25px;
    }

    .popup__paragraph {
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (min-width: 540px) and (max-width: 767px) {
    .popup__container {
        width: 520px;
    }

    .popup__title {
        max-width: 500px;
        font-size: 21px;
    }

    .popup__paragraph {
        font-size: 15px;
        line-height: 20px;
    }

    .popup__line {
        margin-bottom: 20px 
    }
}

@media screen and (min-width: 320px) and (max-width: 539px) {
    .popup_opened {
        height: 100%;
        display: block;
    }
    .popup__container {
        width: 100%;
        height: 100%;
        border-radius: 0;
        overflow-y: scroll;
        box-sizing: border-box;
    }

    .popup__title {
        max-width: 80%;
        font-size: 20px;
    }

    .popup__description-container {
        width: 100%;
        margin-bottom: 50px;
    }

    .popup__paragraph {
        font-size: 16px;
        line-height: 18px;
    }

    .popup__line {
        margin-bottom: 20px 
    }

    body:has(.popup_opened) {
        overflow: hidden;
    }
}

@media screen and (max-height: 460px) {
    .popup_opened {
        height: 100%;
        display: block;
    }

    .popup__container {
        width: 100%;
        height: 100%;
        border-radius: 0;
        overflow-y: scroll;
        box-sizing: border-box;
    }

    body:has(.popup_opened) {
        overflow: hidden;
    }
}